h1, #backtoblog  { display: none; }

#extra-options a {
	display: block;
	text-align: center;
}

.pn-auth0-login {

	#login {
		padding-bottom: 75px;
		background-image: url('../img/a0-badge-light.png');
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: 150px auto;
	}

}

.auth0-lock.auth0-lock .auth0-lock-name { line-height: 130% !important; }
.auth0-lock.auth0-lock .auth0-lock-header { background-color: #ffffff !important; }
.auth0-lock.auth0-lock .auth0-lock-header-bg { background-color: rgba(241, 241, 241, 1) !important; }

.auth0-lock.auth0-lock .auth0-lock-header-logo {
	width: 90% !important;
	height: auto !important;
}

.pn-auth0-login {

	#extra-options a {
		text-indent: -9999px;
		line-height: 0;

		&::after {
			content: "Admin Login";
			text-indent: 0;
			display: block;
			line-height: 120%;
		}
		
	}

}

.auth0-lock-header { height: auto !important; }

.auth0-lock-header-bg { height: 100% !important; }