.pill {
	@include clearfix();
	position: relative;
	display: block;
	min-height: 40px;
	padding: 1rem;
	border-radius: 3px;
	background-color: color('secondary-lt');
	transition: background 0.5s ease;
	font-size: 1em;

	&__label {
		display: inline-block;
		vertical-align: middle;
	}

	&__icon {
		display: inline-block;
		position: relative;
		height: 30px;
		width: 30px;
		margin: -6px 0;
		vertical-align: middle;
		fill: color('secondary');
	}

	&:hover, &:focus {
		transition: background .5s ease, color .5s ease;
		background-color: color('secondary-md');
		color: #ffffff;
	}

}

@include for-big-phone-only() {

	.pill {
		min-height: 30px;
		padding: 0.5rem;
		font-size: 0.8em;

		&__label {
			padding-bottom: 1px;
		}

		&__icon {
			height: 20px;
			width: 20px;
		}
	}

}

@include for-tablet-landscape-up() {

		.pill {
			min-height: 30px;
			padding: .5rem;
			border-radius: 3px;
			font-size: .9em;

			&__icon {
				height: 20px;
				width: 20px;
				margin: -6px 0;
			}

		}

}